.button-action{
  border: 2px solid #09255c;
  border-radius: 50px;
  font-size: 25px;
  width: 300px;
  background-color: #09255c;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}
.button-action:hover{
  background-color: #ffd600;
  color: black;
  border: 2px solid #ffd600;
  transition: background-color .3s;
}
.card{
  width: 400px;
  height: 480px;
  margin-left: 5px;
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .card{
    width: 400px;
    height: 450px;
    margin-bottom: 15px;
  }
  .button-action{
    font-size: 20px;
    width: 250px;
  }
}