header{
  background-color: #09255c;
  width: 1678px;
  height: 110px;
  display: flex;
  align-items: center;
}
.res-block{
  display: none;
}
.logo{
  width: 100px;
  height: 98px;
  margin-left: 0.3rem;
  margin-top: 0.1rem;
}
.links{
  display: block;
  margin: 0 auto;
}
.ul-header{
  list-style: none;
  display: flex;
}
li{
  margin-right: 40px;
}
.header-link{
  color: white;
  font-size: 25px;
  font-weight: var(--bold);
  text-decoration: none;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid white;
  text-transform: uppercase;
}
.header-link:hover{
  color: #fbb900;
  border-bottom-color: #fbb900;
  transition: .3s;
}

@media screen and (max-width: 768px) {
  header{
    width: 415px;
    height: 110px;
    display: flex;
  }
  .ul-header{
    display: none;
  }
  .res-block{
    display: flex;
    align-items: center;
    margin-left: 205px;
  }
}