.box-apartments{
  display: flex;
  padding-left: 6em;
}
.table{
  width: 1400px;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .box-apartments{
    display: flex;
    flex-direction: column;
    padding-left: 1.5em;
  }
}