.box-apartments, .box-apartments-02{
  display: flex;
  padding-bottom: 5em;
  padding-left: 6em;
}
.photo-room{
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .box-apartments, .box-apartments-02{
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
}