@import url("https://fonts.googleapis.com/css?family=Roboto:700");

body {
  margin: 0px;
  font-family: "Roboto";
  text-align: center;
}

#container {
  color: white;
  font-size: 55px;
  font-weight: bold;
  padding-top: 200px;
  width: 100%;
  bottom: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.br-rot{
  display: none;
}

#flip {
  font-size: 40px;
  height: 50px;
  overflow: hidden;
  text-transform: uppercase;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #42c58a;
}
#flip div:first-child div {
  background: #4ec7f3;
}
#flip div:last-child div {
  background: #d17bcf;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@media screen and (max-width: 768px) {
  #container{
    display: block;
    font-size: 32px;
    padding-top: 100px;
  }
  #flip{
    font-size: 25px;
  }
  .br-rot{
    display: block;
  }
}
