@import url("https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&family=Italianno&family=Montserrat+Alternates&family=Open+Sans&family=Roboto:wght@300&display=swap");
.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 45%;
}
.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.fullscreen-bg__video-res{
  display: none;
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.overlay h1 {
  text-align: center;
  color: #fff;
  font-size: 55px;
  margin-top: 17%;
}
.overlay-italianno {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotel-yo {
  color: rgb(185, 172, 235);
  font-family: Italianno;
  font-size: 130px;
  letter-spacing: 5px;
}
.yo{
  color: rgb(185, 172, 235);
  font-family: Italianno;
}
.checkBtn{
  width: 500px;
  font-size: 30px;
  border: 2px solid #09255c;
  background-color: #09255c;
  color: white;
  border-radius: 50px;
}
.checkBtn:hover{
  background-color: #edc511;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .fullscreen-bg{
    padding-top: 0;
  }
  .fullscreen-bg__video{
    display: none;
  }
  .fullscreen-bg__video-res{
    display: block;
    height: 100%;
  }
  .overlay{
    top: auto;
  }
	.overlay h1 {
	  font-size: 30px;
	}
  .hotel-yo{
    font-size: 80px;
  }
}
