.main-box{
  background-color: #6080c0;
  color: white;
}
.main-heading {
  text-align: center;
  font-size: 45px;
  text-decoration: underline;
  letter-spacing: 5px;
}
.aboutus-text-main {
  display: flex;
  font-size: 25px;
  letter-spacing: 3px;
}
.aboutus-img-fasad {
  width: 600px;
  height: 500px;
}
.aboutus-textt-main {
  padding-left: 15px;
  padding-right: 15px;
}
.readMoreLink{
  font-size: 30px;
  color: white;
  margin-left: 555px;
}
.readMoreLink:hover{
  color: #fbb900;
  border-bottom-color: #fbb900;
  transition: .3s;
}
.image-carousel-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-partners-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-partner{
  width: 200px;
  margin-right: 35px;
}

@media screen and (max-width: 768px) {
  .aboutus-img-fasad {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 300px;
  }
  .aboutus-text-main {
    display: block;
  }
  .aboutus-textt-main{
    text-align: center;
  }
  .our-partners-box{
    display: flex;
    flex-direction: column;
  }
}
